.text-select-none {
    -user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index:10
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background:#666
}

/* https://community.wappler.io/t/google-places-autocomplete-framework7/17529 */
.pac-container {
    z-index: 20000;
}

.accordion-item .item-content div.item-title,
.list.media-list div.item-title,
.list.media-list div.item-subtitle,
.list.media-list div.item-text { 
    overflow: visible !important; 
    white-space: pre-wrap !important;
}

.no-results{
    justify-content: center !important;
    background: rgba(var(--f7-theme-color-rgb), 0.6) !important;
    color: white !important;
}

.autocomplete-dropdown {
    z-index: 700 !important;
}

.data-table caption {
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
}

.accordion-item-content .media-list .item-link .item-inner:before, .accordion-item-content li.media-item .item-link .item-inner:before {
    display: inherit;
}

.doors-attachments .media-list .item-link .item-title-row:before {
    display: none;
}