.login-screen .page {
    background-image: url('https://cdn.jsdelivr.net/gh/CloudyVisionArg/cdn@161/app7/cloudy/background.jpg');
    background-size: cover;
}
.login-screen .page-content {
    background: none;
}
.login-screen .login-screen-title {
    display: none;
}
.login-screen .login-screen-logo {
    text-align: center;
}
.login-screen .login-screen-logo img {
    content: url('https://cdn.jsdelivr.net/gh/CloudyVisionArg/cdn@162/app7/cloudy/logo.png');
    max-width: 80%;
}
.login-screen .list {
    max-width: 85%;
}
.login-screen .list input {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.login-screen .list input::placeholder {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}
.login-screen .list .item-floating-label {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 15px !important;
}
.login-screen .list .input-clear-button {
    color: rgba(255, 255, 255, 0.9);
}
.login-screen .list .item-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}
/* linea inferior */
.login-screen .list .item-inner:after,
.login-screen .list .item-input-wrap:after {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.login-screen .list .item-inner:after {
    width: calc(100% - calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right)));
}

.login-screen .accordion-item .item-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}
/* chevron */
.login-screen .accordion-item .item-inner:before {
    color: rgba(255, 255, 255, 0.9);
}
.login-screen .accordion-item .list {
    max-width: 100%;
}
.login-screen .list .button {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(75, 168, 223);
    padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset));
    margin-bottom: 10px;
    border-radius: 10px;
}
.login-screen .list button#console {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
}
.login-screen #message {
    color: #cb265e !important;
    font-size: medium;
}
