.login-screen .page {
    background-image: url('https://cdn.cloudycrm.net/ghcv/cdn@167/app7/cloudy/background.png');
    background-size: cover;
}
.login-screen .page-content {
    background: none;
}
.login-screen .login-screen-title {
    display: none;
}
.login-screen .login-screen-logo {
    text-align: center;
}
.login-screen .login-screen-logo img {
    content: url('https://cdn.cloudycrm.net/ghcv/cdn@167/app7/cloudy/logo.png');
    max-width: 80%;
}
.login-screen .list {
    max-width: 85%;
}
.login-screen .list input {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.login-screen .list input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
.login-screen .list .item-floating-label {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 15px !important;
}
.login-screen .list .input-clear-button {
    color: rgba(255, 255, 255, 0.8);
}
.login-screen .list .item-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
/* linea inferior */
.login-screen .list .item-inner:after,
.login-screen .list .item-input-wrap:after {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.login-screen .list .item-inner:after {
    width: calc(100% - calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right)));
}

.login-screen .accordion-item .item-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
/* chevron */
.login-screen .accordion-item .item-inner:before {
    color: rgba(255, 255, 255, 0.8);
}
.login-screen .accordion-item .list {
    max-width: 100%;
}
.login-screen .list .button {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(75, 168, 223);
    padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset));
    margin-bottom: 10px;
    border-radius: 10px;
}
.login-screen .list button#console {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}
.login-screen #message {
    color: crimson !important;
    font-size: medium;
}
.login-screen #showpwd {
    color: rgb(255, 255, 255, 0.8);
}


.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
        
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    text-transform: uppercase;

&:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

&:active {
    background-color: #eeeeee;
}

&:focus {
    outline: none;
    box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

&:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}
}